<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід - Аудіо Хост</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <div class="container">
        <h2>Вхід</h2>
        <div>
            <input type="text" id="login" placeholder="Ім'я користувача" required>
            <input type="password" id="password" placeholder="Пароль" required>
            <button id="loginbutton">Увійти</button>
        </div>
        <div class="link">
            <p>Ще не маєте аккаунту? <a href="/register">Зареєструватися</a></p>
        </div>
    </div>
    <script src="static/login.js"></script>
</body>
</html>
