<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація - Аудіо Хост</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <div class="container">
        <h2>Реєстрація</h2>
        <div>
            <input type="text" id="login" placeholder="Ім'я користувача" required>
            <input type="email" id="email" placeholder="Електронна пошта" required>
            <input type="password" id="password" placeholder="Пароль" required>
            <button id="regbutton">Зареєструватися</button>
        </div>
        <div class="link">
            <p>Вже маєте аккаунт? <a href="/login">Увійти</a></p>
        </div>
    </div>
    <script src="static/reg.js"></script>
</body>
</html>
